*
{
    margin: 0;
    padding: 0;
}
#logo
{
    width: 50px;
}

.nav-link
{
    font-size: 1.4em;
    margin: 10px;
}

.navbarIcons
{
    width: 35px;
}

#cartImage
{
    width: 35px;
}

#titolo
{
    font-size: 4.5em;
    font-family: 'Consolas', Courier, monospace;
}

#spanLogin
{
    display: none;
}

#spanRegistrazione
{
    display: none;
}

#spanPassword
{
    display: none;
}

#btnCercaPrezzo
{
    vertical-align: middle;
    margin-top: 25px;
}

.alert
{
    display: none;
}

.btnCart
{
    width: 200px;
    margin-top: 10px;
}

#divRisultati img
{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

#divRisultati div
{
    margin-bottom: 20px;
}

#sidebar-wrapper {
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#cartButtons{
    visibility: hidden;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 0;
    display: none;
}

#wrapper.toggled #sidebar-wrapper #cartButtons
{
    visibility: visible;
}

#wrapper.toggled #sidebar-wrapper .list-group{
    width: 20rem;
    display: block;
}

#page-content-wrapper {
    min-width: 0;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 3000px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.icona-rossa
{
    color: #dc3545;
    border:1px solid #dc3545;
    border-right:transparent;
}
