*
{
  margin: 0;
  padding: 0;
}

html, body
{
  background-image: url("img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow-x: hidden;
}

span
{
  color: white;
  font-family: Consolas;
  font-size: 1.5em;
}

button
{
  margin-right: 10px;
}

h1
{
  font-family: Consolas;
  font-size: 3.0em;
  color: white;
}

#titolo
{
  margin-top: 35px;
}

#sottotitolo
{
  font-family: Consolas;
  font-size: 1.5em;
  color: white;
  margin-bottom: 15px;
}

#wrapper
{
  margin: 30px auto;
  text-align: center;
}

table
{
  table-layout: fixed;
  width: 100%;
  font-family: Consolas;
  color:#ffffff;
  margin-top: 25px;
}

tr
{
  font-family: Consolas;
}

canvas
{
  margin: 20px;
}

#driveImage
{
  width: 150px;
  height: 129px;
  display: inline;
}


