html,
body
{
  background-image: url("img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

span
{
  color: white;
  font-family: Consolas;
  font-size: 1.5em;
}

h1
{
  font-family: Consolas;
  font-size: 4.0em;
  color: white;
}

#sottotitolo
{
  font-family: Consolas;
  font-size: 1.5em;
  color: white;
  margin-bottom: 15px;
}

#wrapper
{
  margin: 30px auto;
  text-align: center;
}

table
{
  table-layout: fixed;
  width: 100%;
  font-family: Consolas;
}

tr
{
  font-family: Consolas;
}

canvas
{
  margin: 20px;
}

#driveImage
{
  width: 150px;
  height: 129px;
  display: inline;
}


